body {
    font-family: "pragati Narrow", sans-serif;
    background-color: rgb(230, 196, 233);
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
}
.titulo{
    padding-top: 20px;
    text-align: center;
}
.titulo h1{
    color: rgb(57, 22, 59);
    font-size: 50px;
}
.titulo p{
    padding-top: 20px;
    font-size: 20px;
    margin-left: 150px;
    margin-right: 150px;
    
}
.navbar-marca{
    text-decoration: none !important;
    color: rgb(170, 67, 177) !important; 
    font-size: 30px;
}

.navbar-marca span{
    color: rgb(193, 107, 199);
    -webkit-text-stroke-width: 0.50px;
    -webkit-text-stroke-color: black;
}
.navbar-collapse{
    
    text-align: center;
    justify-content: right;
    font-size: 30px;
    padding-right: 50px;
}
.nav-link{
    text-decoration: none !important;
    color: rgb(76, 30, 79,0.95) !important;
    font-size: 25px;
}
.navbar{
    background-color: rgb(57, 22, 59,0) ;
    
}
.nav-link:hover{
    color: white !important;
    transform: scale(1.10);
}
#carousel{
    padding-bottom:   100px;
    padding-top: 100px;
}


.container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 200px;
    justify-content: center;
    align-items: center;
}

.grid-item img {
    max-width: 100%;
    height: auto;
}

.grid-item p {
    margin: 0;
}
.grid-container2 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 200px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.grid-item h2{
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-shadow: 0, 0 , 0.5 black;

}
.grid-item p{
    font-size: 20px;

}
.grid-item a{
    text-decoration: none;
    color: white;
    text-shadow: 0,0,5 black;
    padding: 10px;
    background-color: rgb(57, 22, 59);
    border-radius: 10px;
    
}

.grid-item span{
    font-size: 10px;
}
.grid-item a:hover{
    background-color: white;
    color: rgb(57, 22, 59)
}
.grid-item img:hover{
    transform: scale(1.25);
    
}
.redes a{
    letter-spacing: 15px;
    font-size: 40px;
    text-decoration: none ;
    color: white ;
    
}
footer p{
    font-size: 10px;
}
.redes a:hover{
    color: rgb(101, 39, 104);
}
.Blog{
    display: flex; 
    flex-direction: column;
    text-align: left;
    font-size: 25px;
    align-content: center;
    align-items: center;
    text-align: left;
    margin: 70px;
    color:#000000
}

.Blog h1{
    color: rgb(0, 0, 0);
    font-size: 50px;
    padding-bottom: 50px;

    text-align: center;
}
.Blog ul{

    text-align: left;
    font-size: 30px;
    color: #000000;
    }
.blog2 h1{
    color: rgb(0, 0, 0);

    padding-bottom: 50px;
    font-size: 50px;
    text-align: center;
}
.blog2{
    display: flex; 
    flex-direction: column;
    text-align: left;
    font-size: 25px;
    align-content: left;
    align-items: left;
    margin: 70px;
    color: #000000;
}
.blog2 span{
    color: rgb(170, 67, 177);
    -webkit-text-stroke-width: 0.50px;
    -webkit-text-stroke-color: black;

}
.blog2 h2{
    text-align: center;
    color: rgb(0, 0, 0);
}
.blog2imagen{
display: flex;
    justify-content: center;
}
.sobremi{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    justify-items: center;
    margin: 50px 100px 50px 100px;
}
.sobremi h1{
    color: rgb(3, 2, 3);
    font-size: 40px;
}
.sobremi p{
    font-size: 25px;
    color: #000000;
}
.sobremifoto{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    justify-items: center;

}
.volverhome{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    justify-items: center;


}
.volverhome a{
    display: flex;
    text-decoration: none;
    color: white;
    text-shadow: 0,0,5 black;
    border-radius: 10px;
    background-color:rgb(101, 39, 104);
    width: 120px;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 20px;
}
.volverhome a:hover{
    color: rgb(101, 39, 104);
    background-color: white;
}
.recursos h1{
    padding: 10px;
    color: #000000;
}
.recursos p{
    padding-left: 10px;
    color: #000000;
}
.spotify{
    padding: 100px;
}
.contactame{
    text-align: center;
}
.contactame span{
    font-size: 20px;
    color: rgb(101, 39, 104);
}

.contactame h1{
    font-size: 40px;
    color: rgb(57, 22, 59);

}
.contactame p{
    font-size: 15px;
}
.turnos {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin-bottom: 500px;
}

.turnos h1 {
    margin-bottom: 20px;
    color: #333;
}

.turno-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario {
    margin-bottom: 15px;
    width: 100%;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color:rgb(101, 39, 104);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color:rgb(255, 255, 255);
    color:rgb(101, 39, 104);
    transform: scale(1.05);
    border-radius: 10px;
    border: solid 5px;
    border-color: rgb(101, 39, 104);
}
.contactos{
    display: flex;
    justify-content: center;
}

/* Media query para dispositivos móviles */
@media only screen and (max-width: 800px) {
    .header{
        font-size: 3px;
    }
    .titulo h1{
        font-size: 25px;

    }
    .titulo p{
        font-size: 15px;
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
    }
    .container {
    width: 100%;
    padding: 5px;
    }
    
    .grid-item h2 {
        font-size: 20px;
    }

    .grid-item p {
        font-size: 15px;
    }
    .grid.item a {
        font-size: 3px;

    }

    .mainblog{
        margin-left: 20px;
        margin-right: 20px;
    }
    #container1{
        grid-template-rows: auto;
        gap: 40px;
    }
    #imagen45 {
        padding: 0;
        margin: 0;
        max-width: 80%;
        max-height: 80%;
        height: auto;
        width: auto;

    }
    #container2{
        grid-template-rows: auto;
        gap: 40px;
    }

}
@media only screen and (max-width: 600px) {
    .header{
        font-size: 3px;
    }
    .titulo h1{
        font-size: 16px;

    }
    .titulo p{
        font-size: 10px;
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
    }
    .container {
    width: 100%;
    padding: 5px;
    }
    
    .grid-item h2 {
        font-size: 16px;
    }

    .grid-item p {
        font-size: 10px;
    }
    .grid.item a {
        font-size: 3px;

    }

    .mainblog{
        margin-left: 20px;
        margin-right: 20px;
    }
    #container1{
        grid-template-rows: auto;
        gap: 40px;
    }
    #imagen45 {
        padding: 0;
        margin: 0;
        max-width: 80%;
        max-height: 80%;
        height: auto;
        width: auto;

    }
    #container2{
        grid-template-rows: auto;
        gap: 40px;
    }

    .carousel-item {
        height: auto; /* Permite que las imágenes mantengan su proporción */
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        height: 30px;
        width: 30px;
        background-size: 30px 30px;
    }
    .navbar-nav {
        text-align: center;
    }

    .navbar-nav .nav-item {
        margin: 10px 0;
    }

    .recursos h1 {
        font-size: 1.5em;
    }

    .recursos p {
        font-size: 1em;
    }

    .spotify iframe {
        margin-bottom: 20px;
    }

    .footer {
        text-align: center;
    }

    .footer .redes a {
        margin: 0 10px;
    }
}

    @media only screen and (max-width: 400px),(max-width: 800px) {

        .header{
            font-size: 3px;
        }
        .titulo h1{
            font-size: 30px;
    
        }
        .titulo p{
            font-size: 15px;
            text-align: center;
            margin-left: 50px;
            margin-right: 50px;
        }
        
        .container {
        width: 100%;
        padding: 5px;
        }
        
        .grid-item h2 {
            font-size: 25px;
        }
    
        .grid-item p {
            font-size: 15px;
        }
        .grid.item a {
            font-size: 3px;

        }
        .sobremi h1{
            font-size: 20px;
        }
        .sobremi p{
            font-size: 15px;
        }
        .mainblog{
            margin-left: 20px;
            margin-right: 20px;
        }
        .Blog h1{
            font-size: 40px;
        }
        .Blog p{
            font-size: 15px;
        }
        .Blog ul{
            font-size: 20px;
        }
        .Blog img{
            height: auto;
            width: 90%;
        }
        .blog2 h1{
        font-size: 40px;
        }
        .blog2 p{
            font-size: 15px;
        }
        .blog2 ul{
            font-size: 20px;
        }
        #container1{
            grid-template-rows: auto;
            gap: 40px;
        }
        #imagen45 {
            padding: 0;
            margin: 0;
            max-width: 80%;
            max-height: 80%;
            height: auto;
            width: auto;

        }
        #container2{
            grid-template-rows: auto;
            gap: 40px;
        }
        .carousel-item {
            height: auto; 
        }
    
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            height: 30px;
            width: 30px;
            background-size: 30px 30px;
        }
        .navbar-nav {
            text-align: center;
        }
    
        .navbar-nav .nav-item {
            margin: 10px 0;
        }
    
        .recursos h1 {
            font-size: 1.5em;
        }
    
        .recursos p {
            font-size: 1em;
        }
    
        .spotify iframe {
            margin-bottom: 20px;
        }
    
        .footer {
            text-align: center;
        }
    
        .footer .redes a {
            margin: 0 10px;
        }
    }
    

body{background-image: linear-gradient(to left top, rgb(225, 90, 166,0.85), rgb(211, 91, 166,0.85), rgb(197, 92, 166,0.85), rgb(184, 92, 164,0.85), rgb(170, 92, 162,0.85), rgb(171, 94, 163,0.85), rgb(173, 95, 164,0.85), rgb(174, 97, 165,0.85), rgb(190, 100, 170,0.85), rgb(207, 104, 173,0.85), rgb(223, 107, 176,0.85), rgb(240, 111, 178,0.85)),url(./img/8459538.jpg);}
