body {
    font-family: "pragati Narrow", sans-serif;
    background-color: rgb(230, 196, 233);
    margin: 0;
    padding: 0;
    color: rgb(101, 39, 104);
}
.titulo{
    padding-top: 20px;
    text-align: center;
}
.titulo h1{
    color: rgb(57, 22, 59);
    font-size: 40px;
}
.titulo p{
    padding-top: 20px;
    font-size: 15px;
    margin-left: 150px;
    margin-right: 150px;
    
}
.navbar-marca{
    text-decoration: none !important;
    color: rgb(170, 67, 177) !important; 
    font-size: 30px;
}

.navbar-marca span{
    color: rgb(193, 107, 199);
}
.navbar-collapse{
    
    text-align: center;
    justify-content: right;
    font-size: 30px;
    padding-right: 50px;
}
.nav-link{
    text-decoration: none !important;
    color: rgb(76, 30, 79,0.95) !important;
    font-size: 25px;
}
.navbar{
    background-color: rgb(57, 22, 59,0) ;
    
}
.nav-link:hover{
    color: white !important;
    transform: scale(1.10);
}
#carousel{
    padding-bottom:   100px;
    padding-top: 100px;
}


.container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 200px;
    justify-content: center;
    align-items: center;
}

.grid-item img {
    max-width: 100%;
    height: auto;
}

.grid-item p {
    margin: 0;
}
.grid-container2 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 200px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.grid-item h2{
    color: rgb(57, 22, 59);
    font-size: 40px;
    text-shadow: 0, 0 , 0.5 black;

}
.grid-item p{
    font-size: 15px;

}
.grid-item a{
    text-decoration: none;
    color: white;
    text-shadow: 0,0,5 black;
    padding: 10px;
    background-color: rgb(57, 22, 59);
    border-radius: 10px;
    
}

.grid-item span{
    font-size: 10px;
}
.grid-item a:hover{
    background-color: white;
    color: rgb(57, 22, 59)
}
.grid-item img:hover{
    transform: scale(1.25);
    
}
.redes a{
    letter-spacing: 15px;
    font-size: 40px;
    text-decoration: none ;
    color: white ;
    
}
footer p{
    font-size: 10px;
}
.redes a:hover{
    color: rgb(101, 39, 104);
}
.Blog{
    display: flex; 
    flex-direction: column;
    text-align: left;
    font-size: 15px;
    align-content: center;
    align-items: center;
    text-align: left;
    margin: 70px;
}

.Blog h1{
    color: rgb(170, 67, 177);
    font-size: 40px;
    padding-bottom: 50px;

    text-align: center;
}
.Blog ul{

    text-align: left;
    font-size: 25px;
    color: rgb(170, 67, 177);



    }
.blog2 h1{
    color: rgb(170, 67, 177);

    padding-bottom: 50px;
    font-size: 40px;
    text-align: center;
}
.blog2{
    display: flex; 
    flex-direction: column;
    text-align: left;
    font-size: 15px;
    align-content: left;
    align-items: left;
    margin: 70px;
}
.blog2 span{
    color: rgb(170, 67, 177);

}
.blog2 h2{
    text-align: center;
    color: rgb(170, 67, 177);
}
.blog2imagen{
display: flex;
    justify-content: center;
}
.sobremi{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    justify-items: center;
    margin: 50px 100px 50px 100px;
}
.sobremi h1{
    color: rgb(170, 67, 177);
}
.sobremi p{
    font-size: 15px;
}
.sobremifoto{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    justify-items: center;

}
.volverhome{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    justify-items: center;


}
.volverhome a{
    display: flex;
    text-decoration: none;
    color: white;
    text-shadow: 0,0,5 black;
    border-radius: 10px;
    background-color:rgb(101, 39, 104);
    width: 120px;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 20px;
}
.volverhome a:hover{
    color: rgb(101, 39, 104);
    background-color: white;
}
.recursos{
    padding: 150px;
    margin-bottom: 1000px;
}
@media (max-width: 768px) {
    .grid-item {
        flex: 1 1 100%;
    }
}